.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(0, 0, 0);
    
}
.images{
    display:flex;
  
   justify-content: center;
   align-items: center;
   size: 50px;
}
.tourch{
    font-family:puffin;
    font-size: 100px;
    
    width:50%;
    color:silver;
   
}
.images img{
    width:300%;
    max-height:100%;
}