.card{
    background-color: black;
   width:1200;
   margin:auto;
    display:flex;
    

    flex-wrap: wrap;
    justify-content: space-around;
  
   

  
}
.containner{
    background-color: black;
    color:silver;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containner h2{
    font-size: 80px;
}
.card h1{
    color:silver;
    flex-basis: 20%;
    
    
}
.cardinside{
    border: 2px solid;
   border-radius:35px;
   padding: 20px;
   margin:50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.cardinside:hover{
    background-color:white;
    cursor:pointer;

}
.cardinside:hover h1{
    color:black;
    
}
.cardinside:hover .icons{
    color: black;
}
   
.icons{
    color:white;
}