
.wallet{
    display:flex;
    flex-direction: column;
    width:25%;
    
   gap:32px;
   padding:100px;
   margin:100px;
   border:none;
   border-radius:40px;
   font-size:32px;
   background-color:rgb(255, 255, 255);
   justify-content: center;
   align-items: center;

}
.name{
   background-color:black;
    padding:12px;
    font-size:24px;
    color:white;
    border: none;
    border-radius:32px; 
    width:100%;
    height:50%;
    font-size:40px;
}
.l1{
    color:black;
    font-size: 40px;
    
}
.l2{
    color:black;
    font-size: 40px;
}
.email{
    background-color:black;
    padding:12px;
    font-size:24px;
    color:white;
    border:none;
    border-radius:32px;
    width:100%;
    height:50%;
    font-size:40px;
}
.wallet-container{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:rgb(11, 11, 12)

}
.inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:50vh;
    gap:32px;
  
}
.wallet button{
    font-size:40px;
    padding:12px 24px;
    border-radius:32px;
    width:50%
}